.settings_page_fau-studium-display .button-disabled {
  pointer-events: none;
}
.settings_page_fau-studium-display #degree-search-button {
  margin-top: 1em;
}
.settings_page_fau-studium-display span.dashicons.search-spinner {
  font-size: 2em;
  width: 1em;
  height: 1em;
  overflow: hidden;
  color: inherit;
  margin-left: 0.25em;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item,
.settings_page_fau-studium-display #degree-program-results .program-item {
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item:last-child,
.settings_page_fau-studium-display #degree-program-results .program-item:last-child {
  border-bottom: none;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item:hover,
.settings_page_fau-studium-display #degree-program-results .program-item:hover {
  background-color: #F9F9F9;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item .program-title,
.settings_page_fau-studium-display #degree-program-results .program-item .program-title {
  font-weight: bold;
  flex: 70% 0 1;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item .program-buttons,
.settings_page_fau-studium-display #degree-program-results .program-item .program-buttons {
  flex: 30% 0 1;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item .update-degree-program span.dashicons,
.settings_page_fau-studium-display #degree-programs-imported .program-item .add-degree-program span.dashicons,
.settings_page_fau-studium-display #degree-programs-imported .program-item .delete-degree-program span.dashicons,
.settings_page_fau-studium-display #degree-program-results .program-item .update-degree-program span.dashicons,
.settings_page_fau-studium-display #degree-program-results .program-item .add-degree-program span.dashicons,
.settings_page_fau-studium-display #degree-program-results .program-item .delete-degree-program span.dashicons {
  vertical-align: middle;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item .update-degree-program,
.settings_page_fau-studium-display #degree-program-results .program-item .update-degree-program {
  margin-right: 1em;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item span.dashicons.sync-ok,
.settings_page_fau-studium-display #degree-programs-imported .program-item span.dashicons.sync-error,
.settings_page_fau-studium-display #degree-program-results .program-item span.dashicons.sync-ok,
.settings_page_fau-studium-display #degree-program-results .program-item span.dashicons.sync-error {
  width: 1em;
  font-size: 2em;
  overflow: hidden;
  vertical-align: text-bottom;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item span.dashicons.sync-ok,
.settings_page_fau-studium-display #degree-program-results .program-item span.dashicons.sync-ok {
  color: #46B450;
}
.settings_page_fau-studium-display #degree-programs-imported .program-item span.dashicons.sync-error,
.settings_page_fau-studium-display #degree-program-results .program-item span.dashicons.sync-error {
  color: #dc3232;
}
.settings_page_fau-studium-display #degree-program-results {
  margin-top: 20px;
}
.settings_page_fau-studium-display #degree-program-results .program-item:first-child {
  border-top: 1px solid #e9e9e9;
}
.settings_page_fau-studium-display #degree-program-results #import-select-all-button {
  margin-right: 1em;
}
.settings_page_fau-studium-display .dashicons.spin {
  animation: dashicons-spin 1s infinite linear;
}
@keyframes dashicons-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.settings_page_fau-studium-display form#fau-studium-display_api input[name=submit-cmb], .settings_page_fau-studium-display form#fau-studium-display_layout input[name=submit-cmb] {
  margin-top: 20px;
  margin-left: 20px;
}
.settings_page_fau-studium-display form#fau-studium-display_sync input[name=submit-cmb] {
  display: none;
}
.settings_page_fau-studium-display .cmb2-toggle {
  display: inline-flex; /* 1 */
  align-items: center; /* 1 */
  flex-wrap: wrap; /* 2 */
  position: relative; /* 3 */
  gap: 1ch; /* 4 */
}
.settings_page_fau-studium-display .Toggle__display {
  --offset: 0.25em;
  --diameter: 1.8em;
  display: inline-flex; /* 1 */
  align-items: center; /* 1 */
  justify-content: space-around; /* 1 */
  width: calc(var(--diameter) * 2 + var(--offset) * 2); /* 2 */
  height: calc(var(--diameter) + var(--offset) * 2); /* 2 */
  box-sizing: content-box; /* 2 */
  border: 0.1em solid rgba(0, 0, 0, 0.2); /* 3 */
  position: relative; /* 4 */
  border-radius: 100vw; /* 5 */
  background-color: #fbe4e2; /* 6 */
  transition: 250ms;
  cursor: pointer;
}
.settings_page_fau-studium-display .Toggle__display::before {
  content: "";
  width: var(--diameter); /* 1 */
  height: var(--diameter); /* 1 */
  border-radius: 50%; /* 1 */
  box-sizing: border-box; /* 2 */
  border: 0.1px solid rgba(0, 0, 0, 0.2); /* 2 */
  position: absolute; /* 3 */
  z-index: 2; /* 3 */
  top: 50%; /* 3 */
  left: var(--offset); /* 3 */
  transform: translate(0, -50%); /* 3 */
  background-color: #fff; /* 4 */
  transition: inherit;
}
@media (prefers-reduced-motion: reduce) {
  .settings_page_fau-studium-display .Toggle__display {
    transition-duration: 0ms;
  }
}
.settings_page_fau-studium-display .Toggle__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.settings_page_fau-studium-display .Toggle__input:focus + .Toggle__display {
  outline: 1px dotted #212121; /* 1 */
  outline: 1px auto -webkit-focus-ring-color; /* 1 */
}
.settings_page_fau-studium-display .Toggle__input:focus:not(:focus-visible) + .Toggle__display {
  outline: 0; /* 1 */
}
.settings_page_fau-studium-display .Toggle__input:checked + .Toggle__display {
  background-color: #e3f5eb; /* 1 */
}
.settings_page_fau-studium-display .Toggle__input:checked + .Toggle__display::before {
  transform: translate(100%, -50%); /* 1 */
}
.settings_page_fau-studium-display .Toggle__input:disabled + .Toggle__display {
  opacity: 0.6; /* 1 */
  filter: grayscale(40%); /* 1 */
  cursor: not-allowed; /* 1 */
}
.settings_page_fau-studium-display [dir=rtl] .Toggle__display::before {
  left: auto; /* 1 */
  right: var(--offset); /* 1 */
}
.settings_page_fau-studium-display [dir=rtl] .Toggle__input:checked + .Toggle__display::before {
  transform: translate(-100%, -50%); /* 1 */
}
.settings_page_fau-studium-display .Toggle__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  fill: currentcolor;
  vertical-align: middle;
}
.settings_page_fau-studium-display .Toggle__icon--cross {
  color: #e74c3c;
  font-size: 85%; /* 1 */
}
.settings_page_fau-studium-display .Toggle__icon--checkmark {
  color: #1fb978;
}

/*# sourceMappingURL=fau-studium-display-admin.css.map */
