@charset "UTF-8";
.fau-studium-display.degree-program-box, .fau-studium-display.degree-program-full .fact-sheet {
  background-color: var(--FAU_Col_FAU-Dunkelblau_12_5, #DFE2E7);
  padding: 40px 16px 24px;
  width: 100%;
  max-width: 870px;
  margin: 48px auto 0;
  display: flow-root;
  position: relative;
}
.fau-studium-display.degree-program-box .icon-thumbtack, .fau-studium-display.degree-program-full .fact-sheet .icon-thumbtack {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: -24px;
  left: 16px;
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
}
.fau-studium-display.degree-program-box .icon-thumbtack:after, .fau-studium-display.degree-program-full .fact-sheet .icon-thumbtack:after {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 14px;
  left: 14px;
  mask-image: url(../svg/thumbtack.svg);
  -webkit-mask-image: url(../svg/thumbtack.svg);
  background-color: #fff;
}
.fau-studium-display.degree-program-box h1, .fau-studium-display.degree-program-full .fact-sheet h1 {
  color: var(--FAU_Col_FAU-Blau, #04316A);
  font-size: var(--H-Heading-5, 1.15rem);
  margin-top: 0;
  padding-top: 0;
}
.fau-studium-display.degree-program-box dl.facts, .fau-studium-display.degree-program-full .fact-sheet dl.facts {
  margin: 0;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-box dl.facts, .fau-studium-display.degree-program-full .fact-sheet dl.facts {
    column-count: 2;
    column-gap: 16px;
  }
}
.fau-studium-display.degree-program-box dl.facts .dpair, .fau-studium-display.degree-program-full .fact-sheet dl.facts .dpair {
  break-inside: avoid; /* verhindert Spaltenumbruch innerhalb dieses Blocks */
  page-break-inside: avoid; /* für Print */
  display: flow-root;
}
.fau-studium-display.degree-program-box dl.facts dt, .fau-studium-display.degree-program-full .fact-sheet dl.facts dt {
  margin: 0;
  float: left;
  clear: left;
  font-weight: bold;
}
.fau-studium-display.degree-program-box dl.facts dd, .fau-studium-display.degree-program-full .fact-sheet dl.facts dd {
  float: left;
  margin-left: 1rem;
}
.fau-studium-display.degree-program-box dl.special-features, .fau-studium-display.degree-program-full .fact-sheet dl.special-features {
  margin: 16px 0 0;
}
.fau-studium-display.degree-program-box dl.special-features dt, .fau-studium-display.degree-program-full .fact-sheet dl.special-features dt {
  margin: 0;
  font-weight: bold;
}
.fau-studium-display.degree-program-box dl.special-features dd, .fau-studium-display.degree-program-full .fact-sheet dl.special-features dd {
  margin-left: 0;
}
.fau-studium-display.degree-program-box dl.special-features dd p:last-child, .fau-studium-display.degree-program-full .fact-sheet dl.special-features dd p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.fau-studium-display.degree-program-full {
  margin-bottom: 32px;
}
.fau-studium-display.degree-program-full .width-small {
  max-width: 870px;
  margin: 32px auto 0;
}
.fau-studium-display.degree-program-full .width-medium {
  max-width: 1000px;
  margin: 32px auto 0;
}
.fau-studium-display.degree-program-full .width-large {
  margin: 32px auto 0;
}
@media screen and (min-width: 992px) {
  .fau-studium-display.degree-program-full .width-large {
    padding: 0;
  }
}
.fau-studium-display.degree-program-full h2 {
  color: var(--FAU-Col-FAU-Dunkelblau-100, #041E42);
  font-size: var(--P-Body-Text, 1.125rem);
  margin-top: 3em;
  margin-bottom: 2em;
}
@media screen and (min-width: 992px) {
  .fau-studium-display.degree-program-full h2 {
    position: relative;
    display: flex;
    align-items: center;
  }
  .fau-studium-display.degree-program-full h2:before {
    content: "";
    width: calc((100% - 1064px) / 2 - 10px);
    height: 2px;
    background-color: #000;
    margin-right: 10px;
    display: inline-block;
  }
}
.fau-studium-display.degree-program-full h3 {
  padding: 0;
  margin-bottom: 1em;
}
.fau-studium-display.degree-program-full .program-content {
  position: relative;
  top: -64px;
  margin: 0 auto -64px;
}
.fau-studium-display.degree-program-full img.attachment-fau-featured {
  aspect-ratio: 2.35/1;
  object-fit: cover;
  width: 100%;
}
.fau-studium-display.degree-program-full .program-header {
  max-width: 934px;
  margin: 0 16px -32px;
  padding: 16px;
  background-color: #fff;
  color: var(--FAU_Col_FAU-Blau, #04316A);
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-full .program-header {
    padding: 32px;
  }
}
@media screen and (min-width: 992px) {
  .fau-studium-display.degree-program-full .program-header {
    margin-left: auto;
    margin-right: auto;
  }
}
.fau-studium-display.degree-program-full .program-header h1, .fau-studium-display.degree-program-full .program-header p.program-subtitle {
  color: var(--FAU_Col_FAU-Blau, #04316A);
  margin: 0;
  padding: 0;
}
.fau-studium-display.degree-program-full .program-subtitle {
  padding-top: 0;
  padding-bottom: 32px;
  font-size: 1.2em;
}
.fau-studium-display.degree-program-full .entry-text {
  font-weight: bold;
}
.fau-studium-display.degree-program-full .entry-text p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 992px) {
  .fau-studium-display.degree-program-full .entry-text {
    margin-left: auto;
    margin-right: auto;
  }
}
.fau-studium-display.degree-program-full .fact-sheet {
  padding: 40px 16px 16px;
  margin-top: 56px;
}
.fau-studium-display.degree-program-full .program-details .accordion-heading .accordion-toggle {
  color: var(--FAU_Col_FAU-Blau, #04316A) !important;
  font-size: var(--H-Heading-4, 1.25rem);
}
.fau-studium-display.degree-program-full .program-videos {
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  padding-top: 32px;
}
.fau-studium-display.degree-program-full .program-videos h2 {
  color: #fff;
  margin-top: 0;
}
.fau-studium-display.degree-program-full .program-videos h2:before {
  background-color: #fff;
}
.fau-studium-display.degree-program-full .program-videos .elements-columns {
  margin: 0 16px;
}
.fau-studium-display.degree-program-full .program-admission {
  margin-top: 0;
}
.fau-studium-display.degree-program-full .program-admission h4 {
  color: var(--FAU_Col_FAU-Blau, #04316A);
  padding: 0;
  margin-bottom: 1em;
}
.fau-studium-display.degree-program-full .program-admission .program-admission-general,
.fau-studium-display.degree-program-full .program-admission .program-admission-internationals {
  background-color: var(--FAU-Col-FAU-Dunkelblau-12_5, #DFE2E7);
  padding: 16px;
}
.fau-studium-display.degree-program-full .program-admission .program-admission-general h3,
.fau-studium-display.degree-program-full .program-admission .program-admission-internationals h3 {
  color: var(--FAU_Col_FAU-Blau, #04316A);
  margin-top: 0;
  padding-top: 0;
}
.fau-studium-display.degree-program-full .program-admission .program-admission-internationals {
  background-color: var(--FAU-Col-FAU-Blau-25, #c0cbda);
  margin-top: 64px;
  padding-top: 40px;
  position: relative;
}
.fau-studium-display.degree-program-full .program-admission .program-admission-internationals .icon-globe {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: -24px;
  left: 16px;
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
}
.fau-studium-display.degree-program-full .program-admission .program-admission-internationals .icon-globe:after {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  top: 9px;
  left: 8px;
  mask-image: url(../svg/globe.svg);
  -webkit-mask-image: url(../svg/globe.svg);
  background-color: #fff;
}
.fau-studium-display.degree-program-full .program-admission .program-admission-internationals img {
  aspect-ratio: 3;
  width: 100%;
  object-fit: cover;
}
.fau-studium-display.degree-program-full .program-apply-now {
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  padding: 0;
  position: relative;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-full .program-apply-now {
    display: flex;
    flex-direction: row;
  }
}
.fau-studium-display.degree-program-full .program-apply-now * {
  color: #fff;
}
.fau-studium-display.degree-program-full .program-apply-now img {
  aspect-ratio: 4/3;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-full .program-apply-now img {
    order: 2;
    aspect-ratio: 3/4;
    width: 20%;
    min-width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .program-apply-now img {
    aspect-ratio: 1;
  }
}
.fau-studium-display.degree-program-full .program-apply-now .apply-now-wrapper {
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  margin: 0 16px;
  padding: 16px;
  position: relative;
  top: -32px;
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-full .program-apply-now .apply-now-wrapper {
    order: 1;
    position: static;
    margin-right: -24px;
    z-index: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    flex: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.fau-studium-display.degree-program-full .program-apply-now .apply-now-title {
  display: block;
  font-weight: bold;
  font-size: var(--H-Heading-2, 2rem);
}
.fau-studium-display.degree-program-full .program-apply-now .apply-now-text {
  display: block;
}
.fau-studium-display.degree-program-full .program-apply-now .apply-now-link {
  display: inline-block;
  height: 48px;
  background-color: var(--FAU-Col-FAU-Dunkelblau-100, #041e42);
  color: #fff;
  padding: 0 64px 0 16px;
  text-decoration: none;
  line-height: 48px;
  font-size: var(--P-Body-Text-XSmall, 0.9rem);
  margin-top: 32px;
  position: relative;
}
.fau-studium-display.degree-program-full .program-apply-now .apply-now-link .icon-arrow-right {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}
.fau-studium-display.degree-program-full .program-apply-now .apply-now-link .icon-arrow-right:after {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 28px;
  height: 28px;
  position: relative;
  top: 9px;
  left: 8px;
  mask-image: url(../svg/arrow-right.svg);
  -webkit-mask-image: url(../svg/arrow-right.svg);
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-full .program-apply-now .apply-now-link {
    align-self: flex-start;
  }
}
.fau-studium-display.degree-program-full .student-advice-more {
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  margin-top: 48px;
  padding-top: 32px;
  color: #fff;
}
.fau-studium-display.degree-program-full .student-advice-more * {
  color: #fff;
}
.fau-studium-display.degree-program-full .student-advice-more h2 {
  color: #fff;
  margin-top: 0;
}
.fau-studium-display.degree-program-full .student-advice-more h2:before {
  background-color: #fff;
}
.fau-studium-display.degree-program-full .student-advice-more h3 {
  color: #fff;
  font-size: var(--H-Heading-2, 2rem);
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice {
  padding: 0 16px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .student-advice-more .student-advice {
    padding: 0 32px;
  }
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice .advice-wrapper {
  position: relative;
  container-type: inline-size;
  margin-bottom: -48px;
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .student-advice-more .student-advice .advice-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
  }
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice img {
  aspect-ratio: 1.5;
  object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .student-advice-more .student-advice img {
    max-width: 50cqi;
  }
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice .link-title {
  display: block;
  font-weight: bold;
  font-size: var(--P-Body-Text, 1.125rem);
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice .link-description {
  font-size: var(--P-Body-Text-XSmall, 0.9rem);
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice a {
  display: block;
  padding: 16px 56px 16px 16px;
  margin: 0 16px;
  position: relative;
  top: -48px;
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .student-advice-more .student-advice a {
    position: static;
    margin: 0 0 0 -48px;
  }
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice a:active, .fau-studium-display.degree-program-full .student-advice-more .student-advice a:hover, .fau-studium-display.degree-program-full .student-advice-more .student-advice a:focus {
  background-color: var(--color-button-hover-bg, #041e42);
  border-color: var(--color-button-hover-bg, #041e42);
  color: var(--color-button-hover-text, #fff) !important;
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice a .icon-arrow-right {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  background-color: #fff;
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice a .icon-arrow-right:after {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 9px;
  left: 8px;
  mask-image: url(../svg/arrow-right.svg);
  -webkit-mask-image: url(../svg/arrow-right.svg);
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice .alert {
  margin-bottom: 0;
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links {
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 0;
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  padding: 0 16px 16px;
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-full .student-advice-more .useful-links {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .student-advice-more .useful-links {
    padding: 0 32px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .fau-studium-display.degree-program-full .student-advice-more .useful-links {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
  }
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links * {
  color: #fff;
  letter-spacing: 0.02em;
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links h3 {
  grid-column-start: 1;
  grid-column-end: end;
  font-size: var(--H-Heading-2, 2rem);
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links h4 {
  font-size: var(--H-Heading-4, 1.25rem);
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links ul {
  margin: 0;
  padding: 0;
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links li {
  list-style-type: none;
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links a {
  text-decoration: none;
  font-size: var(--P-Body-Text-XSmall, 0.9rem);
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links a:after {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  mask-image: url(../svg/arrow-right.svg);
  -webkit-mask-image: url(../svg/arrow-right.svg);
  background-color: #fff;
  vertical-align: text-bottom;
  margin-left: 0.5em;
}
.fau-studium-display ul.degree-program-grid {
  display: grid;
  margin: 0 0 32px;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}
@media screen and (min-width: 1440px) {
  .fau-studium-display ul.degree-program-grid {
    grid-gap: 48px;
  }
}
.fau-studium-display ul.degree-program-grid * {
  color: #fff;
  font-size: var(--P-Body-Text, 1.125rem);
  hyphens: auto;
}
.fau-studium-display ul.degree-program-grid li {
  display: block;
  list-style-type: none;
  background: var(--FAU_Col_FAU-Blau, #04316A);
  color: #fff;
  padding: 0;
}
.fau-studium-display ul.degree-program-grid li a {
  color: #fff;
  text-decoration: none;
}
.fau-studium-display ul.degree-program-grid li .teaser-image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
}
.fau-studium-display ul.degree-program-grid li .program-content {
  background: var(--FAU_Col_FAU-Blau, #04316A);
  padding: 16px;
}
.fau-studium-display ul.degree-program-grid li .teaser-image + .program-content {
  position: relative;
  top: -24px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: -16px;
}
.fau-studium-display ul.degree-program-grid li .label {
  font-weight: bold;
  font-size: var(--P-Body-Text-Small, 1rem);
  letter-spacing: 0.01em;
}
.fau-studium-display ul.degree-program-grid li .program-title {
  font-weight: bold;
  font-size: var(--H-Heading-5, 1.15rem);
  letter-spacing: 0.02em;
}
.fau-studium-display ul.degree-program-grid li .program-subtitle {
  font-size: var(--P-Body-Text-Small, 1rem);
}
.fau-studium-display table.degree-program-table tr {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--FAU_Col_Base-Schwarz_25, #BFBFBF);
  display: block;
  padding: 8px 0;
}
.fau-studium-display table.degree-program-table tr:nth-child(odd) td {
  background-color: #fff;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table tr {
    display: table-row;
    padding: 0;
  }
}
.fau-studium-display table.degree-program-table th {
  display: none;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table th {
    display: table-cell;
    background-color: var(--FAU_Col_FAU-Blau, #04316A);
    color: #fff;
    font-size: unset;
    letter-spacing: 0.02em;
    padding: 6px 8px;
  }
}
.fau-studium-display table.degree-program-table td {
  padding: 0;
  border-right: none;
  font-size: unset;
  display: block;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table td {
    display: table-cell;
    padding: 8px;
  }
}
.fau-studium-display table.degree-program-table td.image-title {
  padding-left: 0;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table td.image-title {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-column-gap: 16px;
    font-weight: normal;
  }
}
.fau-studium-display table.degree-program-table td.image-title img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 80px;
  box-shadow: none;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .fau-studium-display table.degree-program-table td.image-title img {
    width: 160px;
  }
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table td.image-title img {
    margin-bottom: 0;
  }
}
.fau-studium-display table.degree-program-table td.image-title .program-title {
  display: block;
  align-self: center;
  color: var(--FAU_Col_FAU-Blau, #04316A);
  font-size: var(--P-Body-Text, 1.125rem);
  margin-bottom: 8px;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table td.image-title .program-title {
    font-size: unset;
    margin-bottom: 0;
  }
}
.fau-studium-display table.degree-program-table td.program-degree {
  clear: left;
}
@media screen and (min-width: 768px) {
  .fau-studium-display table.degree-program-table td.program-degree {
    clear: none;
  }
}
.fau-studium-display table.degree-program-table td.program-adm-req:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table td.program-adm-req {
    padding-right: 0;
  }
}
.fau-studium-display table.degree-program-table .label {
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table .label {
    display: none;
  }
}
.fau-studium-display .program-search {
  border: 1px solid var(--color-ContentBorders, #dfe6ec);
  width: 100%;
  padding: var(--width-gutter, 30px);
  margin-top: 0;
}
@media (min-width: 768px) {
  .fau-studium-display .program-search {
    display: flex;
    flex-wrap: wrap;
    gap: var(--width-gutter-half, 15px);
  }
}
.fau-studium-display .program-search .label {
  display: block;
  font-weight: bold;
}
.fau-studium-display .program-search .search-title {
  flex-basis: 100%;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--width-gutter-half, 15px);
}
.fau-studium-display .program-search .search-title label.label {
  width: 100%;
}
.fau-studium-display .program-search .search-title #fau_studium_search {
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.fau-studium-display .program-search input[type=submit] {
  margin-bottom: 0;
  margin-right: 0;
}
.fau-studium-display .program-search .search-title,
.fau-studium-display .program-search div[class^=filter-] {
  margin-bottom: var(--width-gutter-half, 15px);
}
.fau-studium-display .program-search div[class^=filter-] {
  flex-basis: 30%;
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--color-ContentBorders);
  border-radius: var(--border-radius-buttons, 3px);
  color: var(--color-Text, #222222);
  margin-bottom: 0;
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle .dashicons {
  vertical-align: text-bottom;
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:hover, .fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:focus, .fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:active {
  background: var(--color-ghostbutton-hover-bg, #04316a);
  color: var(--color-ghostbutton-hover-text, #ffffff);
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:hover .dashicons, .fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:focus .dashicons, .fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:active .dashicons {
  color: inherit;
}
.fau-studium-display .program-search div[class^=filter-] .filter-count {
  display: inline-block;
  margin-left: 0.5em;
  background-color: var(--color-button-bg, #004a9f);
  color: var(--color-button-text, #fff);
  width: 1.5em;
  height: 1.5em;
  line-height: 1.55;
  border-radius: 50%;
  font-size: 0.7em;
  position: relative;
  top: -0.1em;
}
.fau-studium-display .program-search div[class^=filter-] .checklist {
  border: 1px solid var(--color-ContentBorders, #dfe6ec);
  border-top-width: 0;
  padding: 0 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
}
@media (min-width: 768px) {
  .fau-studium-display .program-search div[class^=filter-] .checklist {
    max-height: 400px;
  }
}
.js-enabled .fau-studium-display .program-search div[class^=filter-] .checklist {
  display: none;
}
@media (min-width: 768px) {
  .js-enabled .fau-studium-display .program-search div[class^=filter-] .checklist {
    position: absolute;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4509803922);
  }
}
.fau-studium-display .program-search .filter-subject-groups {
  clear: left;
}
.fau-studium-display .program-search .extended-search-toggle .filter-count {
  display: inline-block;
  margin-left: 0.5em;
  color: var(--color-button-bg, #004a9f);
  background-color: var(--color-button-text, #fff);
  width: 1.5em;
  height: 1.5em;
  line-height: 1.55;
  border-radius: 50%;
  font-size: 0.7em;
  position: relative;
  top: -0.1em;
}
.fau-studium-display .program-search .extended-search-toggle .dashicons {
  vertical-align: text-bottom;
}
.fau-studium-display .program-search .extended-search {
  width: 100%;
}
.js-enabled .fau-studium-display .program-search .extended-search {
  display: none;
}
.fau-studium-display .program-search .extended-search .flex-wrapper {
  width: 100%;
}
@media (min-width: 768px) {
  .fau-studium-display .program-search .extended-search .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--width-gutter-half, 15px);
  }
}
.fau-studium-display .program-search .settings-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fau-studium-display .program-search .settings-area .reset-link {
  align-self: center;
}
.fau-studium-display .program-search .settings-area .reset-link a {
  text-decoration-thickness: 0.1rem;
}
.fau-studium-display .program-search .settings-area .reset-link a:hover, .fau-studium-display .program-search .settings-area .reset-link a:focus, .fau-studium-display .program-search .settings-area .reset-link a:active {
  text-decoration-thickness: 0.2rem;
}
.fau-studium-display .program-search .settings-area a > svg.rrze-elements-icon {
  border-radius: 0 !important;
}

/*# sourceMappingURL=fau-studium-display.css.map */
