@charset "UTF-8";
.fau-big-teaser {
  display: flex;
  max-width: var(--wide-max-width);
  margin: 0 auto;
  gap: var(--Spacing-10x, 2.5rem);
  padding: var(--Spacing-8x, 2rem) var(--Spacing-10x, 2.5rem);
  box-sizing: content-box;
}
.fau-big-teaser__content {
  min-width: 0;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fau-big-teaser__content h2.fau-big-teaser__headline,
.fau-big-teaser__content h3.fau-big-teaser__headline,
.fau-big-teaser__content h4.fau-big-teaser__headline,
.fau-big-teaser__content h5.fau-big-teaser__headline,
.fau-big-teaser__content h6.fau-big-teaser__headline {
  font-size: var(--H-Heading-Big-Teaser, 40px);
  background-color: var(--FAU-Col-FAU-Weiss-100, #fff);
  margin: 0;
  max-width: calc(100% + 16rem);
  min-width: calc(100% + 5.5rem);
  padding: var(--Spacing-6x, 1.5rem) var(--Spacing-8x, 2rem) var(--Spacing-6x, 1.5rem) 0;
  box-sizing: border-box;
  position: relative;
  width: max-content;
  z-index: 1;
}
.fau-big-teaser__content p.fau-big-teaser__teaser-text {
  padding: var(--Spacing-2x, 0.5rem) 0 var(--Spacing-4x, 1rem) 0;
  margin: 0;
  box-sizing: border-box;
}
.fau-big-teaser__content .wp-block-buttons.is-layout-flex {
  padding: 0;
  box-sizing: border-box;
}
.fau-big-teaser__image {
  flex-basis: 0;
  flex-grow: 1;
}
.fau-big-teaser__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.is-style-dark .fau-big-teaser .fau-big-teaser__content h2.fau-big-teaser__headline,
.is-style-dark .fau-big-teaser .fau-big-teaser__content h3.fau-big-teaser__headline,
.is-style-dark .fau-big-teaser .fau-big-teaser__content h4.fau-big-teaser__headline,
.is-style-dark .fau-big-teaser .fau-big-teaser__content h5.fau-big-teaser__headline,
.is-style-dark .fau-big-teaser .fau-big-teaser__content h6.fau-big-teaser__headline {
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
}

@media screen and (max-width: 1199px) {
  .fau-big-teaser__content h2.fau-big-teaser__headline,
  .fau-big-teaser__content h3.fau-big-teaser__headline,
  .fau-big-teaser__content h4.fau-big-teaser__headline,
  .fau-big-teaser__content h5.fau-big-teaser__headline,
  .fau-big-teaser__content h6.fau-big-teaser__headline {
    max-width: calc(100% + 12rem);
  }
  .fau-big-teaser__image img {
    aspect-ratio: 1/1;
  }
}
@media screen and (max-width: 899px) {
  .fau-big-teaser {
    flex-direction: column-reverse;
    gap: unset;
  }
  .fau-big-teaser__content h2.fau-big-teaser__headline,
  .fau-big-teaser__content h3.fau-big-teaser__headline,
  .fau-big-teaser__content h4.fau-big-teaser__headline,
  .fau-big-teaser__content h5.fau-big-teaser__headline,
  .fau-big-teaser__content h6.fau-big-teaser__headline {
    margin-top: -3.3rem;
    width: 90%;
    max-width: unset;
    min-width: unset;
    margin-left: auto;
    margin-right: auto;
    padding: var(--Spacing-4x, 1rem) var(--Spacing-6x, 1.5rem) 0 var(--Spacing-6x, 1.5rem);
    font-size: 2rem;
  }
  .fau-big-teaser__content p.fau-big-teaser__teaser-text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: var(--Spacing-4x, 1rem) var(--Spacing-6x, 1.5rem) var(--Spacing-2x, 0.5rem) var(--Spacing-6x, 1.5rem);
  }
  .fau-big-teaser__content .wp-block-buttons.is-layout-flex {
    width: 90%;
    margin: 0 auto;
    padding: 0 var(--Spacing-6x, 1.5rem);
  }
  .fau-big-teaser__image img {
    aspect-ratio: 3/2;
  }
}
@media (max-width: 393px) {
  .fau-big-teaser {
    padding: unset;
  }
  .fau-big-teaser__content h2.fau-big-teaser__headline,
  .fau-big-teaser__content h3.fau-big-teaser__headline,
  .fau-big-teaser__content h4.fau-big-teaser__headline,
  .fau-big-teaser__content h5.fau-big-teaser__headline,
  .fau-big-teaser__content h6.fau-big-teaser__headline {
    width: calc(100% - 1rem);
    padding: var(--Spacing-4x, 1rem) var(--Spacing-3x) var(--Spacing-3x) var(--Spacing-3x);
    font-size: 1.625rem;
  }
  .fau-big-teaser__content p.fau-big-teaser__teaser-text,
  .fau-big-teaser__content .wp-block-buttons.is-layout-flex {
    width: calc(100% - 1rem);
    padding: 0 var(--Spacing-3x) var(--Spacing-3x) var(--Spacing-3x);
  }
}
.fau-elemental section.fau-studium-display.degree-program-list {
  max-width: var(--wide-small-width, 870px);
}

.fau-studium-display p.items-found {
  padding: 0;
}
.fau-studium-display table.degree-program-table {
  max-width: 100%;
  /*tr {
      border-left: none;
      border-right: none;
      border-bottom: 1px solid var(--FAU_Col_Base-Schwarz_25, #BFBFBF);
      display: block;
      padding: 8px 0;
      &:nth-child(odd) td {
          background-color: #fff;
      }
      @media screen and (min-width: 992px) {
          display: table-row;
          padding: 0;
      }
  }
  th {
      display: none;
      @media screen and (min-width: 992px) {
          display: table-cell;
          background-color: var(--FAU_Col_FAU-Blau, #04316A);
          color: #fff;
          font-size: unset;
          letter-spacing: 0.02em;
          padding: 6px 8px;
      }
  }*/
}
.fau-studium-display table.degree-program-table td {
  /*padding: 0;
  border-right: none;
  font-size: unset;
  display: block;
  @media screen and (min-width: 992px) {
      display: table-cell;
      padding: 8px;
  }*/
}
.fau-studium-display table.degree-program-table td:first-child {
  width: auto;
}
.fau-studium-display table.degree-program-table td.image-title {
  padding-left: 0;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table td.image-title {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-column-gap: 16px;
    font-weight: normal;
  }
}
.fau-studium-display table.degree-program-table td.image-title img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 80px;
  height: auto;
  box-shadow: none;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table td.image-title img {
    margin-bottom: 0;
  }
}
.fau-studium-display table.degree-program-table td.image-title .program-title {
  display: block;
  color: var(--FAU_Col_FAU-Blau, #04316A);
  font-size: var(--P-Body-Text, 1.125rem);
  margin-bottom: 8px;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table td.image-title .program-title {
    font-size: unset;
    margin-bottom: 0;
  }
}
.fau-studium-display table.degree-program-table td.program-degree {
  clear: left;
}
@media screen and (min-width: 768px) {
  .fau-studium-display table.degree-program-table td.program-degree {
    clear: none;
  }
}
.fau-studium-display table.degree-program-table td.program-adm-req:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table td.program-adm-req {
    padding-right: 0;
  }
}
.fau-studium-display table.degree-program-table .label {
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .fau-studium-display table.degree-program-table .label {
    display: none;
  }
}

.fau-studium-display p.items-found {
  padding: 0;
}
.fau-studium-display ul.degree-program-grid {
  max-width: 100%;
  display: grid;
  margin: 0 0 32px;
  padding: 0;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
@media screen and (min-width: 1440px) {
  .fau-studium-display ul.degree-program-grid {
    grid-gap: 48px;
  }
}
.fau-studium-display ul.degree-program-grid * {
  color: #fff;
  font-size: var(--P-Body-Text, 1.125rem);
  hyphens: auto;
}
.fau-studium-display ul.degree-program-grid li {
  display: block;
  list-style-type: none;
  background: var(--FAU_Col_FAU-Blau, #04316A);
  color: #fff;
  padding: 0;
}
.fau-studium-display ul.degree-program-grid li p {
  padding: 0;
}
.fau-studium-display ul.degree-program-grid li a {
  color: #fff;
  text-decoration: none;
}
.fau-studium-display ul.degree-program-grid li .teaser-image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.fau-studium-display ul.degree-program-grid li .program-content {
  background: var(--FAU_Col_FAU-Blau, #04316A);
  padding: 16px;
}
.fau-studium-display ul.degree-program-grid li .teaser-image + .program-content {
  position: relative;
  top: -24px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: -16px;
}
.fau-studium-display ul.degree-program-grid li .label {
  font-weight: bold;
  font-size: var(--P-Body-Text-Small, 1rem);
  letter-spacing: 0.01em;
}
.fau-studium-display ul.degree-program-grid li .program-title {
  font-weight: bold;
  font-size: var(--H-Heading-5, 1.15rem);
  letter-spacing: 0.02em;
}
.fau-studium-display ul.degree-program-grid li .program-subtitle {
  font-size: var(--P-Body-Text-Small, 1rem);
}

.fau-studium-display.degree-program-box, .fau-studium-display.degree-program-full .fact-sheet {
  background-color: var(--FAU_Col_FAU-Dunkelblau_12_5, #DFE2E7);
  padding: 40px 16px 24px;
  width: 100%;
  max-width: 870px;
  margin: 48px auto 0;
  display: flow-root;
  position: relative;
}
.fau-studium-display.degree-program-box .icon-thumbtack, .fau-studium-display.degree-program-full .fact-sheet .icon-thumbtack {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: -24px;
  left: 16px;
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
}
.fau-studium-display.degree-program-box .icon-thumbtack:after, .fau-studium-display.degree-program-full .fact-sheet .icon-thumbtack:after {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 14px;
  left: 14px;
  mask-image: url(../svg/thumbtack.svg);
  -webkit-mask-image: url(../svg/thumbtack.svg);
  background-color: #fff;
}
.fau-studium-display.degree-program-box h1, .fau-studium-display.degree-program-full .fact-sheet h1 {
  color: var(--FAU_Col_FAU-Blau, #04316A);
  font-size: var(--P-Body-Text, 1.125rem);
  margin-top: 0;
  padding-top: 0;
}
.fau-studium-display.degree-program-box p, .fau-studium-display.degree-program-full .fact-sheet p {
  padding: 0;
}
.fau-studium-display.degree-program-box dl.facts, .fau-studium-display.degree-program-full .fact-sheet dl.facts {
  font-size: var(--P-Body-Text, 1.125rem);
  margin: 0;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-box dl.facts, .fau-studium-display.degree-program-full .fact-sheet dl.facts {
    column-count: 2;
    column-gap: 16px;
  }
}
.fau-studium-display.degree-program-box dl.facts .dpair, .fau-studium-display.degree-program-full .fact-sheet dl.facts .dpair {
  break-inside: avoid; /* verhindert Spaltenumbruch innerhalb dieses Blocks */
  page-break-inside: avoid; /* für Print */
  display: flow-root;
}
.fau-studium-display.degree-program-box dl.facts dt, .fau-studium-display.degree-program-full .fact-sheet dl.facts dt {
  margin: 0;
  float: left;
  clear: left;
  font-weight: bold;
}
.fau-studium-display.degree-program-box dl.facts dd, .fau-studium-display.degree-program-full .fact-sheet dl.facts dd {
  float: left;
  margin-left: 1rem;
}
.fau-studium-display.degree-program-box dl.special-features, .fau-studium-display.degree-program-full .fact-sheet dl.special-features {
  font-size: var(--P-Body-Text, 1.125rem);
  margin: 16px 0 0;
}
.fau-studium-display.degree-program-box dl.special-features dt, .fau-studium-display.degree-program-full .fact-sheet dl.special-features dt {
  margin: 0;
  font-weight: bold;
}
.fau-studium-display.degree-program-box dl.special-features dd, .fau-studium-display.degree-program-full .fact-sheet dl.special-features dd {
  margin-left: 0;
}
.fau-studium-display.degree-program-box dl.special-features dd p:last-child, .fau-studium-display.degree-program-full .fact-sheet dl.special-features dd p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.fau-studium-display.degree-program-full {
  margin-bottom: 32px;
}
.fau-studium-display.degree-program-full .width-small {
  max-width: 870px;
  margin: 32px auto 0;
}
.fau-studium-display.degree-program-full .width-medium {
  max-width: 1000px;
  margin: 32px auto 0;
}
.fau-studium-display.degree-program-full .width-large {
  margin: 32px auto 0;
}
@media screen and (min-width: 992px) {
  .fau-studium-display.degree-program-full .width-large {
    padding: 0 32px;
    max-width: 1320px;
  }
}
.fau-studium-display.degree-program-full .width-full {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}
.fau-studium-display.degree-program-full h2, .fau-studium-display.degree-program-full h2:first-child {
  color: var(--FAU-Col-FAU-Dunkelblau-100, #041E42);
  font-size: var(--P-Body-Text, 1.125rem);
  margin-top: 3em;
  margin-bottom: 2em;
}
@media screen and (min-width: 992px) {
  .fau-studium-display.degree-program-full h2, .fau-studium-display.degree-program-full h2:first-child {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .fau-studium-display.degree-program-full h2:before, .fau-studium-display.degree-program-full h2:first-child:before {
    background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
    content: "";
    height: 0.125rem;
    left: calc(-100vh - 1.5rem);
    position: absolute;
    top: calc(50% - 0.125rem);
    width: 100vh;
  }
}
.fau-studium-display.degree-program-full h2:target, .fau-studium-display.degree-program-full h2:first-child:target {
  padding-top: 0 !important;
}
.fau-studium-display.degree-program-full h3:not(.fau-big-teaser__headline):not(.accordion-heading) {
  padding: 0;
  margin-bottom: 1em;
}
.fau-studium-display.degree-program-full h4 {
  padding-left: 0;
  padding-right: 0;
}
.fau-studium-display.degree-program-full p {
  padding: 0;
}
.fau-studium-display.degree-program-full .program-content {
  position: relative;
  top: -64px;
  margin: 0 auto -64px;
}
.fau-studium-display.degree-program-full img.attachment-fau-featured,
.fau-studium-display.degree-program-full img.wp-post-image {
  aspect-ratio: 2.35/1;
  object-fit: cover;
  width: 100%;
}
.fau-studium-display.degree-program-full .program-header {
  max-width: 934px;
  margin: 0 16px -32px;
  padding: 16px;
  background-color: #fff;
  color: var(--FAU_Col_FAU-Blau, #04316A);
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-full .program-header {
    padding: 32px;
  }
}
@media screen and (min-width: 992px) {
  .fau-studium-display.degree-program-full .program-header {
    margin-left: auto;
    margin-right: auto;
  }
}
.fau-studium-display.degree-program-full .program-header h1, .fau-studium-display.degree-program-full .program-header p.program-subtitle {
  color: var(--FAU_Col_FAU-Blau, #04316A);
  margin: 0;
  padding: 0;
}
.fau-studium-display.degree-program-full .program-subtitle {
  padding-top: 0;
  padding-bottom: 32px;
  font-size: 1.2em;
}
.fau-studium-display.degree-program-full .entry-text {
  font-weight: bold;
}
.fau-studium-display.degree-program-full .entry-text p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 992px) {
  .fau-studium-display.degree-program-full .entry-text {
    margin-left: auto;
    margin-right: auto;
  }
}
.fau-studium-display.degree-program-full .fact-sheet {
  padding: 40px 16px 16px;
  margin-top: 56px;
}
.fau-studium-display.degree-program-full .quicklinks {
  margin-top: 3em;
}
@media (min-width: 480px) {
  .fau-studium-display.degree-program-full .program-combinations,
  .fau-studium-display.degree-program-full .program-limited-combinations {
    columns: 200px 3;
    column-gap: 4em;
  }
}
.fau-studium-display.degree-program-full .program-videos {
  margin-top: 3em;
}
.fau-studium-display.degree-program-full .program-videos .rrze-video-container {
  max-width: 424px;
}
.fau-studium-display.degree-program-full .program-admission {
  background-color: var(--FAU-Col-FAU-Dunkelblau-12_5, #DFE2E7);
  padding: 16px;
}
.fau-studium-display.degree-program-full .program-admission h3 {
  color: var(--FAU_Col_FAU-Blau, #04316A);
  margin-top: 0;
  padding-top: 0;
}
.fau-studium-display.degree-program-full .program-admission li {
  padding: 0;
}
.fau-studium-display.degree-program-full .student-advice-more {
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  margin-top: 48px;
  padding-top: 32px;
  color: #fff;
}
.fau-studium-display.degree-program-full .student-advice-more * {
  color: #fff;
}
.fau-studium-display.degree-program-full .student-advice-more h2 {
  color: #fff;
  margin-top: 0;
}
.fau-studium-display.degree-program-full .student-advice-more h2:before {
  background-color: #fff;
}
.fau-studium-display.degree-program-full .student-advice-more h3 {
  color: #fff;
  font-size: var(--H-Heading-2, 2rem);
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice {
  padding: 0 16px;
  margin-bottom: 32px;
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice .advice-wrapper {
  position: relative;
  container-type: inline-size;
  margin-bottom: -48px;
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .student-advice-more .student-advice .advice-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
  }
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice img {
  aspect-ratio: 1.5;
  object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .student-advice-more .student-advice img {
    max-width: 50cqi;
  }
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice .link-title {
  display: block;
  font-weight: bold;
  font-size: var(--P-Body-Text, 1.125rem);
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice .link-description {
  font-size: var(--P-Body-Text-XSmall, 0.9rem);
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice a {
  display: block;
  padding: 16px 56px 16px 16px;
  margin: 0 16px;
  position: relative;
  top: -48px;
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .student-advice-more .student-advice a {
    position: static;
    margin: 0 0 0 -48px;
  }
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice a:active, .fau-studium-display.degree-program-full .student-advice-more .student-advice a:hover, .fau-studium-display.degree-program-full .student-advice-more .student-advice a:focus {
  background-color: var(--color-button-hover-bg, #041e42);
  border-color: var(--color-button-hover-bg, #041e42);
  color: var(--color-button-hover-text, #fff) !important;
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice a:active .icon-arrow-right:after, .fau-studium-display.degree-program-full .student-advice-more .student-advice a:hover .icon-arrow-right:after, .fau-studium-display.degree-program-full .student-advice-more .student-advice a:focus .icon-arrow-right:after {
  left: 12px;
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice a .icon-arrow-right {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  background-color: #fff;
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice a .icon-arrow-right:after {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 9px;
  left: 8px;
  mask-image: url(../svg/arrow-right.svg);
  -webkit-mask-image: url(../svg/arrow-right.svg);
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  transition: var(--basic-animation, all 0.2s ease-in-out);
}
.fau-studium-display.degree-program-full .student-advice-more .student-advice .alert {
  margin-bottom: 0;
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links {
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 0;
  background-color: var(--FAU_Col_FAU-Blau, #04316A);
  padding: 0 16px 16px;
}
@media screen and (min-width: 768px) {
  .fau-studium-display.degree-program-full .student-advice-more .useful-links {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .fau-studium-display.degree-program-full .student-advice-more .useful-links {
    padding: 0 32px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .fau-studium-display.degree-program-full .student-advice-more .useful-links {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
  }
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links * {
  color: #fff;
  letter-spacing: 0.02em;
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links h3 {
  grid-column-start: 1;
  grid-column-end: end;
  font-size: var(--H-Heading-2, 2rem);
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links h4 {
  font-size: var(--H-Heading-4, 1.25rem);
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links ul {
  margin: 0;
  padding: 0;
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links li {
  list-style-type: none;
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links a {
  text-decoration: none;
  font-size: var(--P-Body-Text-XSmall, 0.9rem);
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links a:after {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  mask-image: url(../svg/arrow-right.svg);
  -webkit-mask-image: url(../svg/arrow-right.svg);
  background-color: #fff;
  vertical-align: text-bottom;
  margin-left: 0.5em;
  transition: var(--basic-animation, all 0.2s ease-in-out);
}
.fau-studium-display.degree-program-full .student-advice-more .useful-links a:hover:after {
  margin-left: 0.75em;
}
.fau-studium-display.degree-program-full .fau-big-teaser {
  padding-top: 0;
}
.fau-studium-display.degree-program-full div.wp-block-rrze-elements-counter-row {
  margin-right: auto;
  margin-top: 32px;
}

.fau-studium-display .program-search {
  width: 100%;
  max-width: 870px;
  margin: 0 auto var(--Spacing-8x, 2rem);
}
@media (min-width: 768px) {
  .fau-studium-display .program-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--Spacing-2x, 0.5rem);
    column-gap: var(--Spacing-8x, 2rem);
  }
}
.fau-studium-display .program-search * {
  font-family: var(--font-family-base, "Source Sans 3", "Roboto", arial, sans-serif);
}
.fau-studium-display .program-search p {
  padding: 0;
}
.fau-studium-display .program-search .label {
  display: block;
  font-weight: bold;
}
.fau-studium-display .program-search input {
  font-size: var(--P-Body-Text-Small, 1rem);
}
.fau-studium-display .program-search .search-title {
  margin-bottom: var(--Spacing-2x, 0.5rem);
  flex-basis: 100%;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}
.fau-studium-display .program-search .search-title input[type=text] {
  border: 0.0625rem solid var(--FAU-Col-FAU-Schwarz-37_5, #9e9e9e);
}
.fau-studium-display .program-search .search-title button[type=submit] {
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
  color: var(--FAU-Col-FAU-Blau-100, #04316a);
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  margin-left: 0;
  border: none;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
}
.fau-studium-display .program-search .search-title button[type=submit]:before {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 50%);
  mask-size: var(--icon-size-mask, 50%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 48px;
  height: 48px;
  mask-image: url(../svg/search.svg);
  -webkit-mask-image: url(../svg/search.svg);
  background-color: #fff;
}
.fau-studium-display .program-search .search-title #fau_studium_search {
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}
.fau-studium-display .program-search .search-title p.search-in-text {
  flex: 100% 0 0;
  margin: var(--Spacing-1x, 0.25rem) 0 0;
}
.fau-studium-display .program-search .search-title input[type=checkbox] {
  margin-right: var(--Spacing-2x, 0.5rem);
}
.fau-studium-display .program-search label.label,
.fau-studium-display .program-search p.label {
  padding: 0;
  width: 100%;
  font-size: 20px;
  color: var(--FAU-Col-FAU-Blau-100, #04316a);
  margin: 0;
}
.fau-studium-display .program-search .flex-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--Spacing-4x, 0.5rem);
}
@media (min-width: 768px) {
  .fau-studium-display .program-search .flex-wrapper {
    gap: var(--Spacing-8x, 2rem);
  }
}
.fau-studium-display .program-search div[class^=filter-] {
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .fau-studium-display .program-search div[class^=filter-] {
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 419px;
  }
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle {
  width: 100%;
  min-height: 48px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--FAU-Col-FAU-Blau-100, #04316a);
  border-radius: var(--border-radius-buttons, 3px);
  color: var(--FAU-Col-FAU-Blau-100, #04316a);
  font-size: var(--P-Body-Text-Small, 1rem);
  font-weight: 600;
  margin: 0;
  padding: 8px 8px 8px 12px;
  text-align: left;
  cursor: pointer;
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle .icon-wrapper {
  width: 48px;
  height: 48px;
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
  position: absolute;
  right: 0;
  top: 0;
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle .icon-wrapper:before {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 48px;
  height: 48px;
  mask-image: url(../svg/chevron-down.svg);
  -webkit-mask-image: url(../svg/chevron-down.svg);
  background-color: #fff;
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle .dashicons {
  vertical-align: text-bottom;
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:hover, .fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:focus, .fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:active {
  background: var(--color-ghostbutton-hover-bg, #04316a);
  color: var(--color-ghostbutton-hover-text, #ffffff);
}
.fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:hover .dashicons, .fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:focus .dashicons, .fau-studium-display .program-search div[class^=filter-] button.checklist-toggle:active .dashicons {
  color: inherit;
}
.fau-studium-display .program-search div[class^=filter-] .filter-count {
  display: inline-block;
  margin-left: 0.5em;
  background-color: var(--color-button-bg, #004a9f);
  color: var(--color-button-text, #fff);
  width: 1.5em;
  height: 1.5em;
  line-height: 1.55;
  border-radius: 50%;
  font-size: 0.7em;
  position: relative;
  top: -0.1em;
}
.fau-studium-display .program-search div[class^=filter-] .checklist {
  border: 1px solid var(--color-ContentBorders, #dfe6ec);
  border-top-width: 0;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
}
@media (min-width: 768px) {
  .fau-studium-display .program-search div[class^=filter-] .checklist {
    max-height: 400px;
  }
}
.js-enabled .fau-studium-display .program-search div[class^=filter-] .checklist, .fau-elemental .fau-studium-display .program-search div[class^=filter-] .checklist {
  display: none;
}
@media (min-width: 768px) {
  .js-enabled .fau-studium-display .program-search div[class^=filter-] .checklist, .fau-elemental .fau-studium-display .program-search div[class^=filter-] .checklist {
    position: absolute;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4509803922);
  }
}
.fau-studium-display .program-search div[class^=filter-] .checklist button.submit-filter {
  width: 100%;
  margin: var(--Spacing-2x, 0.5rem) 0 0;
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
  color: #fff;
  padding: var(--Spacing-2x, 0.5rem);
  font-size: var(--P-Body-Text-Small, 1rem);
  cursor: pointer;
}
.fau-studium-display .program-search div[class^=filter-] label {
  display: block;
  line-height: 1.7;
}
.fau-studium-display .program-search .filter-subject-groups {
  clear: left;
}
.fau-studium-display .program-search .extended-search-toggle {
  flex-basis: 40%;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 0;
  padding-left: 0;
  text-align: left;
  cursor: pointer;
  background-color: #fff;
  color: var(--FAU-Col-FAU-Blau-100, #04316a);
  font-size: var(--P-Body-Text-Small, 1rem);
  border: none;
}
.fau-studium-display .program-search .extended-search-toggle .icon-wrapper.icon-plus,
.fau-studium-display .program-search .extended-search-toggle .icon-wrapper.icon-minus {
  margin-left: 0.3em;
}
.fau-studium-display .program-search .extended-search-toggle .icon-wrapper.icon-plus:before,
.fau-studium-display .program-search .extended-search-toggle .icon-wrapper.icon-minus:before {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 120%);
  mask-size: var(--icon-size-mask, 120%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 1em;
  height: 1em;
  mask-image: url(../svg/add.svg);
  -webkit-mask-image: url(../svg/add.svg);
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
  vertical-align: text-top;
}
.fau-studium-display .program-search .extended-search-toggle .icon-wrapper.icon-minus:before {
  mask-image: url(../svg/remove.svg);
  -webkit-mask-image: url(../svg/remove.svg);
}
.fau-studium-display .program-search .extended-search-toggle .filter-count {
  display: inline-block;
  margin-left: 0.5em;
  color: var(--color-button-bg, #004a9f);
  background-color: var(--color-button-text, #fff);
  width: 1.5em;
  height: 1.5em;
  line-height: 1.55;
  border-radius: 50%;
  font-size: 0.7em;
  position: relative;
  top: -0.1em;
}
.fau-studium-display .program-search .extended-search-toggle .dashicons {
  vertical-align: text-bottom;
}
.fau-studium-display .program-search .extended-search {
  width: 100%;
  margin-top: var(--Spacing-8x, 2rem);
}
.js-enabled .fau-studium-display .program-search .extended-search, .fau-elemental .fau-studium-display .program-search .extended-search {
  display: none;
}
.fau-studium-display .program-search .settings-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fau-studium-display .program-search .settings-area .reset-link {
  align-self: center;
}
.fau-studium-display .program-search .settings-area .reset-link a {
  text-decoration-thickness: 0.1rem;
}
.fau-studium-display .program-search .settings-area .reset-link a:hover, .fau-studium-display .program-search .settings-area .reset-link a:focus, .fau-studium-display .program-search .settings-area .reset-link a:active {
  text-decoration-thickness: 0.2rem;
}
.fau-studium-display .program-search .settings-area a > svg.rrze-elements-icon {
  border-radius: 0 !important;
}
.fau-studium-display .program-search .filters-selected .filter-selected-title {
  padding-bottom: var(--Spacing-1x, 0.25rem);
  padding-top: var(--Spacing-4x, 1rem);
}
.fau-studium-display .program-search .filters-selected .filter-selected {
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.25em 0.75em;
  text-decoration: none;
}
.fau-studium-display .program-search .filters-selected .filter-selected:hover, .fau-studium-display .program-search .filters-selected .filter-selected:focus, .fau-studium-display .program-search .filters-selected .filter-selected:active {
  background-color: var(--FAU-Col-FAU-Dunkelblau-100, #041e42);
}
.fau-studium-display .program-search .filters-selected .filter-selected.delete-all {
  background-color: var(--FAU-Col-FAU-Dunkelblau-100, #041e42);
}
.fau-studium-display .program-search .filters-selected .filter-selected.delete-all:hover, .fau-studium-display .program-search .filters-selected .filter-selected.delete-all:focus, .fau-studium-display .program-search .filters-selected .filter-selected.delete-all:active {
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
}
.fau-studium-display .program-search .filters-selected .filter-selected:after {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 120%);
  mask-size: var(--icon-size-mask, 120%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 1em;
  height: 1em;
  mask-image: url(../svg/close.svg);
  -webkit-mask-image: url(../svg/close.svg);
  background-color: #fff;
  vertical-align: middle;
  margin-left: 0.5em;
}
.fau-studium-display .program-search .display-settings {
  width: 100%;
  text-align: right;
  margin: 0;
}
.fau-studium-display .program-search .display-settings button {
  width: 48px;
  height: 48px;
  overflow: hidden;
  background-color: #fff;
  border: none;
  vertical-align: middle;
  padding: 0;
}
.fau-studium-display .program-search .display-settings button:before {
  content: "";
  -webkit-mask-size: var(--icon-size-mask, 70%);
  mask-size: var(--icon-size-mask, 70%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: var(--FAU-Col-FAU-Blau-25, #C0CBDA);
}
.fau-studium-display .program-search .display-settings button.display-settings-table:before {
  mask-image: url(../svg/list.svg);
  -webkit-mask-image: url(../svg/list.svg);
}
.fau-studium-display .program-search .display-settings button.display-settings-grid:before {
  mask-image: url(../svg/grid.svg);
  -webkit-mask-image: url(../svg/grid.svg);
}
.fau-studium-display .program-search .display-settings button.active:before {
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
}
.fau-studium-display .program-search .display-settings button:hover, .fau-studium-display .program-search .display-settings button:focus, .fau-studium-display .program-search .display-settings button:active {
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
}
.fau-studium-display .program-search .display-settings button:hover:before, .fau-studium-display .program-search .display-settings button:focus:before, .fau-studium-display .program-search .display-settings button:active:before {
  background-color: #fff;
}

.fau-theme.single-degree-program #hero {
  margin-bottom: 0;
}

.fau-elemental.single-degree-program h4 {
  padding: 0;
}
.fau-elemental.single-degree-program .wp-block-buttons {
  padding: 0;
  max-width: 100%;
}
.fau-elemental.single-degree-program .wp-block-buttons {
  margin-bottom: var(----Spacing-2x, 0.5rem);
}

/*# sourceMappingURL=fau-studium-display.css.map */
