.fau-studium-display {
    &.degree-program-box {
        background-color: var(--FAU_Col_FAU-Dunkelblau_12_5, #DFE2E7);
        padding: 40px 16px 24px;
        width: 100%;
        max-width: 870px;
        margin: 48px auto 0;
        display: flow-root;
        position: relative;
        &:after {
            content: "";
            width: 48px;
            height: 48px;
            display: block;
            position: absolute;
            top: -24px;
            left: 16px;
            background-color: var(--FAU_Col_FAU-Blau, #04316A);
        }

        h1 {
            color: var(--FAU_Col_FAU-Blau, #04316A);
            font-size: var(--H-Heading-5, 1.15rem);
            margin-top: 0;
            padding-top: 0;
        }
        dl.facts {

            margin: 0 0 16px;
            line-height: 1.8;
            @media screen and (min-width: 768px) {
                column-count: 2;
                column-gap: 16px;
            }
            .dpair {
                break-inside: avoid; /* verhindert Spaltenumbruch innerhalb dieses Blocks */
                page-break-inside: avoid; /* für Print */
                display: flow-root;
            }
            dt {
                margin: 0;
                float: left;
                clear: left;
                font-weight: bold;
            }

            dd {
                float: left;
                margin-left: 1rem;
            }
        }
        dl.special-features {
            margin: 0;
            dt {
                margin: 0;
                font-weight: bold;
            }
            dd {
                margin-left: 0;
                p:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}