.fau-studium-display {

    &.degree-program-box,
    &.degree-program-full .fact-sheet {
        background-color: var(--FAU_Col_FAU-Dunkelblau_12_5, #DFE2E7);
        padding: 40px 16px 24px;
        width: 100%;
        max-width: 870px;
        margin: 48px auto 0;
        display: flow-root;
        position: relative;

        .icon-thumbtack {
            width: 48px;
            height: 48px;
            display: block;
            position: absolute;
            top: -24px;
            left: 16px;
            background-color: var(--FAU_Col_FAU-Blau, #04316A);
            &:after {
                content: "";
                -webkit-mask-size: var(--icon-size-mask, 70%);
                mask-size: var(--icon-size-mask, 70%);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center;
                mask-position: center;
                display: inline-block;
                width: 20px;
                height: 20px;
                position: relative;
                top: 14px;
                left: 14px;
                mask-image: url(../svg/thumbtack.svg);
                -webkit-mask-image: url(../svg/thumbtack.svg);
                background-color: #fff;
            }
        }

        h1 {
            color: var(--FAU_Col_FAU-Blau, #04316A);
            font-size: var(--P-Body-Text, 1.125rem);
            margin-top: 0;
            padding-top: 0;
        }
        p {
            padding: 0;
        }
        dl.facts {
            font-size: var(--P-Body-Text, 1.125rem);
            margin: 0;
            line-height: 1.8;
            @media screen and (min-width: 768px) {
                column-count: 2;
                column-gap: 16px;
            }
            .dpair {
                break-inside: avoid; /* verhindert Spaltenumbruch innerhalb dieses Blocks */
                page-break-inside: avoid; /* für Print */
                display: flow-root;
            }
            dt {
                margin: 0;
                float: left;
                clear: left;
                font-weight: bold;
            }

            dd {
                float: left;
                margin-left: 1rem;
            }
        }
        dl.special-features {
            font-size: var(--P-Body-Text, 1.125rem);
            margin: 16px 0 0;
            dt {
                margin: 0;
                font-weight: bold;
            }
            dd {
                margin-left: 0;
                p:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}