.fau-studium-display {
    &.degree-program-table {
        max-width: min(100vw, 1320px);
        margin-inline: var(--faue_wide-max-width_bleed_minimal_inline-margin, max(calc(calc(max(2.5rem, calc(100cqw /2 - 870px /2))*-1) + 2.5rem),calc(1320px*-1/2 - 870px*-1/2)));
    }
    p.items-found {
        padding: 0;
    }
    table.degree-program-table {
        thead {
            display: none;
            @media (min-width: 678px) {
                display: table-header-group;
            }
        }
        tbody {
            @media (max-width: 678px) {
                border: none;
                tr:nth-child(2n) {
                    background-color: unset;
                }
            }
        }
        max-width: 100%;
        tr {
            @media (max-width: 678px) {
                display: block;
                margin-bottom: var(--Spacing-8x, 2rem);
            }
        }
        td {
            @media (max-width: 678px) {
                display: block;
                border: none;
                font-size: var(--P-Body-Text, 1.125rem);
                padding: var(--Spacing-2x, 0.5rem);
            }
            @media (min-width: 679px) {
                display: table-cell;
            }
            &:first-child {
                width: auto;
            }
            &.image-title,
            &.program-degree,
            &.program-start,
            &.program-location,
            &.program-adm-req {
                padding: 0 var(--Spacing-6x, 1.5rem);
                @media (min-width: 679px) {
                    padding: var(--Spacing-4x, 1rem) var(--Spacing-2x, 0.5rem);
                }
            }
            &.image-title {
                font-weight: bold;
            }
            &.program-degree {
                @media (min-width: 768px) {
                    //clear:  none;
                }
            }
            &.program-adm-req {
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                @media (min-width: 992px) {
                    padding-right: 0;
                }
            }
        }
        .label {
            font-weight: bold;
            @media (min-width: 679px) {
                display: none;
            }
        }
    }

}