.fau-studium-display {
    p.items-found {
        padding: 0;
    }
    table.degree-program-table {
        thead {
            display: none;
            @media (min-width: 678px) {
                display: table-header-group;
            }
        }
        tbody {
            @media (max-width: 678px) {
                border: none;
                tr:nth-child(2n) {
                    background-color: unset;
                }
            }
        }
        max-width: 100%;
        tr {
            @media (max-width: 678px) {
                display: block;
                margin-bottom: var(--Spacing-8x, 2rem);
            }
        }
        td {
            @media (max-width: 678px) {
                display: block;
                border: none;
                font-size: var(--P-Body-Text, 1.125rem);
                padding: 0;
            }
            @media (min-width: 679px) {
                display: table-cell;
            }
            &:first-child {
                width: auto;
            }
            &.image-title {
                padding-left: 0;
                font-weight: bold;
                @media (min-width: 992px) {
                    display: grid;
                    grid-template-columns: 80px 1fr;
                    grid-column-gap: 16px;
                    font-weight: normal;
                }
                img {
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                    @media (min-width: 679px) {
                        aspect-ratio: 1/1;
                        width: 80px;
                        height: auto;
                        box-shadow: none;
                        float: left;
                        margin-right: 8px;
                        margin-bottom: 8px;
                    }
                    @media (min-width: 992px) {
                        margin-bottom: 0;
                    }
                }
                .program-title {
                    display: block;
                    //align-self: center;
                    color: var(--FAU_Col_FAU-Blau, #04316A);
                    font-size: var(--P-Body-Text, 1.125rem);
                    background: #fff;
                    position: relative;
                    top: -2em;
                    margin: 0 var(--Spacing-4x, 1rem) calc(var(--Spacing-8x, 2rem)*-1);
                    padding: var(--Spacing-2x, .5rem);
                    @media (min-width: 679px) {
                        position: static;
                        margin: 0 0 8px;
                        padding: 0;
                        background: transparent;
                        font-size: unset;
                    }
                    @media (min-width: 992px) {
                        font-size: unset;
                        margin-bottom: 0;
                    }
                }
            }
            &.program-degree,
            &.program-start,
            &.program-location,
            &.program-adm-req {
                padding: 0 var(--Spacing-6x, 1.5rem);
                @media (min-width: 679px) {
                    padding: 0;
                }
            }
            &.program-degree {
                @media (min-width: 768px) {
                    //clear:  none;
                }
            }
            &.program-adm-req {
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                @media (min-width: 992px) {
                    padding-right: 0;
                }
            }
        }
        .label {
            font-weight: bold;
            @media (min-width: 679px) {
                display: none;
            }
        }
    }

}