.fau-studium-display {

    .program-search {
        //background-color: lighten(#e9edf2, 3%);
        //border: 1px solid #dde5f0;
        //border: 1px solid var(--color-ContentBorders,#dfe6ec);
        width: 100%;
        max-width: 870px;
        //padding: var(--width-gutter, 30px);
        margin: 0 auto var(--Spacing-8x, 2rem);
        @media (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            row-gap: var(--Spacing-2x, .5rem);
            column-gap: var(--Spacing-8x, 2rem);
        }
        * {
            font-family: var(--font-family-base, "Source Sans 3", "Roboto", arial, sans-serif);
        }
        p {
            padding: 0;
        }
        .label {
            display: block;
            font-weight: bold;
        }
        input {
            font-size: var(--P-Body-Text-Small, 1rem);
        }
        .search-title,
        .filter-degrees {
            @media (min-width:768px) {
                //width: 50%;
                //float: left;
                //padding-right: var(--width-gutter-half, 15px);
            }
        }
        .search-title {
            margin-bottom: var(--Spacing-4x, 1rem);
            flex-basis: 100%;
            flex-shrink: 0;
            display: flex;
            flex-wrap: wrap;
            input[type=text] {
                border: .0625rem solid var(--FAU-Col-FAU-Schwarz-37_5, #9e9e9e)
            }
            button[type=submit] {
                background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
                color: var(--FAU-Col-FAU-Blau-100, #04316a);
                margin-bottom: 0;
                margin-right: 0;
                margin-top: 0;
                margin-left: 0;
                border: none;
                width: 48px;
                height: 48px;
                padding: 0;
                border-radius: 0;
                cursor: pointer;
                overflow: hidden;
                &:before {
                    content: "";
                    -webkit-mask-size: var(--icon-size-mask, 50%);
                    mask-size: var(--icon-size-mask, 50%);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                    display: inline-block;
                    width: 48px;
                    height: 48px;
                    mask-image: url(../svg/search.svg);
                    -webkit-mask-image: url(../svg/search.svg);
                    background-color: #fff;
                }
            }
            #fau_studium_search {
                flex: 1;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                margin-bottom: 0;
            }
            p.search-in-text {
                flex: 100% 0 0;
                margin: var(--Spacing-1x, .25rem) 0 0;
            }
            input[type=checkbox] {
                margin-right: var(--Spacing-2x, .5rem);
            }
        }

        .search-title,
        div[class^='filter-'] {
            //margin-bottom: var(--width-gutter-half, 15px);
        }

        label.label,
        p.label {
            padding: 0;
            width: 100%;
            font-size: 1.5rem;
            color: var(--FAU-Col-FAU-Blau-100, #04316a);
            margin: 0;
        }

        .flex-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: var(--Spacing-4x, .5rem);
            @media (min-width:768px) {
                gap: var(--Spacing-8x, 2rem);
            }
        }

        .search-filter {
            width: 100%;
            p.label {
                width: auto;
                float: left;
                margin-bottom: var(--Spacing-2x, .5rem);
            }
        }

        div[class^='filter-'] {
            position: relative;
            width: 100%;
            @media (min-width:768px) {
                flex-basis: 40%;
                flex-shrink: 0;
                flex-grow: 1;
                max-width: 419px;
            }
            button.checklist-toggle {
                width: 100%;
                min-height: 48px;
                background: #0000;
                border: 1px solid var(--FAU-Col-FAU-Blau-100, #04316a);
                border-radius: var(--border-radius-buttons,3px);
                color: var(--FAU-Col-FAU-Blau-100, #04316a);
                font-size: var(--P-Body-Text-Small, 1rem);
                font-weight: 600;
                margin: 0;
                padding: 8px 8px 8px 12px;
                text-align: left;
                cursor: pointer;
                .icon-wrapper {
                    width: 48px;
                    height: 48px;
                    background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
                    position: absolute;
                    right: 0;
                    top: 0;
                    &:before {
                        content: "";
                        -webkit-mask-size: var(--icon-size-mask, 70%);
                        mask-size: var(--icon-size-mask, 70%);
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                        -webkit-mask-position: center;
                        mask-position: center;
                        display: inline-block;
                        width: 48px;
                        height: 48px;
                        mask-image: url(../svg/chevron-down.svg);
                        -webkit-mask-image: url(../svg/chevron-down.svg);
                        background-color: #fff;
                    }
                }
                .dashicons {
                    vertical-align: text-bottom;
                }
                &:hover, &:focus, &:active {
                    background: var(--color-ghostbutton-hover-bg, #04316a);
                    color: var(--color-ghostbutton-hover-text, #ffffff);
                    .dashicons {
                        color: inherit;
                    }
                }
            }
            .filter-count {
                display: inline-block;
                margin-left: .5em;
                background-color: var(--color-button-bg, #004a9f);
                color: var(--color-button-text, #fff);
                width: 1.5em;
                height: 1.5em;
                line-height: 1.55;
                border-radius: 50%;
                font-size: .7em;
                position: relative;
                top: -.1em;
            }
            .checklist {
                border: 1px solid var(--color-ContentBorders,#dfe6ec);
                border-top-width: 0;
                padding: 5px;
                overflow-x: hidden;
                overflow-y: scroll;
                background: #fff;
                @media (min-width:768px) {
                    max-height: 400px;
                }
                .js-enabled &,
                .fau-elemental & {
                    display: none;
                    @media (min-width:768px) {
                        position: absolute;
                        z-index: 1;
                        width: 100%;
                        //box-shadow: 0 3px 12px 0 #ebebeb;
                        box-shadow: 0 4px 7px #00000073
                    }
                }
                button.submit-filter {
                    width: 100%;
                    margin: var(--Spacing-2x, .5rem) 0 0;
                    background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
                    color: #fff;
                    padding: var(--Spacing-2x, .5rem);
                    font-size: var(--P-Body-Text-Small, 1rem);
                    cursor: pointer;
                }
            }
            label {
                display: block;
                line-height: 1.7;
            }
        }
        .filter-subject-groups {
            clear: left;
        }
        .extended-search-toggle {
            float: right;
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: left;
            cursor: pointer;
            background-color: #fff;
            color: var(--FAU-Col-FAU-Blau-100, #04316a);
            font-size: var(--P-Body-Text-Small, 1rem);
            border: none;
            .icon-wrapper.icon-plus,
            .icon-wrapper.icon-minus {
                margin-left: .3em;
                &:before {
                    content: "";
                    -webkit-mask-size: var(--icon-size-mask, 120%);
                    mask-size: var(--icon-size-mask, 120%);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    mask-image: url(../svg/add.svg);
                    -webkit-mask-image: url(../svg/add.svg);
                    background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
                    vertical-align: text-top;
                }
            }
            .icon-wrapper.icon-minus {
                &:before {
                    mask-image: url(../svg/remove.svg);
                    -webkit-mask-image: url(../svg/remove.svg);
                }
            }
            .filter-count {
                display: inline-block;
                margin-left: .5em;
                color: var(--color-button-bg, #004a9f);
                background-color: var(--color-button-text, #fff);
                width: 1.5em;
                height: 1.5em;
                line-height: 1.55;
                border-radius: 50%;
                font-size: .7em;
                position: relative;
                top: -.1em;
            }
            .dashicons {
                vertical-align: text-bottom;
            }
        }
        .extended-search {
            width: 100%;
            margin-top: var(--Spacing-8x, 2rem);
            .js-enabled &,
            .fau-elemental & {
                display: none;
            }
        }
        .settings-area {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .reset-link {
                align-self: center;
                a {
                    text-decoration-thickness: .1rem;

                    &:hover, &:focus, &:active {
                        text-decoration-thickness: 0.2rem;
                    }
                }
            }
            a > svg.rrze-elements-icon {
                border-radius: 0 !important;
            }
        }
        .filters-selected {
            .filter-selected-title {
                padding-bottom: var(--Spacing-1x, .25rem);;
                padding-top: var(--Spacing-4x, 1rem);
            }
            .filter-selected {
                background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
                color: #fff;
                display: inline-block;
                margin-right: .5em;
                margin-bottom: .5em;
                padding: .25em .75em;
                text-decoration: none;
                &:hover, &:focus, &:active {
                    background-color: var(--FAU-Col-FAU-Dunkelblau-100, #041e42);
                }
                &.delete-all {
                    background-color: var(--FAU-Col-FAU-Dunkelblau-100, #041e42);
                    &:hover, &:focus, &:active {
                        background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
                    }
                }
                &:after {
                    content: "";
                    -webkit-mask-size: var(--icon-size-mask, 120%);
                    mask-size: var(--icon-size-mask, 120%);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    mask-image: url(../svg/close.svg);
                    -webkit-mask-image: url(../svg/close.svg);
                    background-color: #fff;
                    vertical-align: middle;
                    margin-left: .5em;
                }
            }
        }
        .display-settings {
            width: 100%;
            text-align: right;
            margin: 0;
            button {
                width: 48px;
                height: 48px;
                overflow: hidden;
                background-color: #fff;
                border: none;
                vertical-align: middle;
                padding: 0;
                &:before {
                    content: "";
                    -webkit-mask-size: var(--icon-size-mask, 70%);
                    mask-size: var(--icon-size-mask, 70%);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                    display: inline-block;
                    width: 48px;
                    height: 48px;
                    background-color: var(--FAU-Col-FAU-Blau-25, #C0CBDA);
                }
                &.display-settings-table {
                    margin-left: var(--Spacing-2x, .5rem);
                    &:before {
                        mask-image: url(../svg/list.svg);
                        -webkit-mask-image: url(../svg/list.svg);
                    }
                }
                &.display-settings-grid:before {
                    mask-image: url(../svg/grid.svg);
                    -webkit-mask-image: url(../svg/grid.svg);
                }
                &.active:before {
                    background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
                }
                &:hover, &:focus, &:active {
                    background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
                    &:before {
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .pagination-number {
        font-weight: 700;
    }

}