.fau-theme.single-degree-program {
    #hero {
        margin-bottom: 0;
    }
}

.fau-elemental.single-degree-program {
    h4 {
        padding: 0;
    }
    .wp-block-buttons {
        padding: 0;
        max-width: 100%;
    }
    .wp-block-buttons {
        margin-bottom: var(----Spacing-2x, 0.5rem);
    }
}