@import "fau-big-teaser";

.fau-studium-display {

    // Box
    &.degree-program-box,
    &.degree-program-full .fact-sheet {
        background-color: var(--FAU_Col_FAU-Dunkelblau_12_5, #DFE2E7);
        padding: 40px 16px 24px;
        width: 100%;
        max-width: 870px;
        margin: 48px auto 0;
        display: flow-root;
        position: relative;

        .icon-thumbtack {
            width: 48px;
            height: 48px;
            display: block;
            position: absolute;
            top: -24px;
            left: 16px;
            background-color: var(--FAU_Col_FAU-Blau, #04316A);
            &:after {
                content: "";
                -webkit-mask-size: var(--icon-size-mask, 70%);
                mask-size: var(--icon-size-mask, 70%);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center;
                mask-position: center;
                display: inline-block;
                width: 20px;
                height: 20px;
                position: relative;
                top: 14px;
                left: 14px;
                mask-image: url(../svg/thumbtack.svg);
                -webkit-mask-image: url(../svg/thumbtack.svg);
                background-color: #fff;
            }
        }

        h1 {
            color: var(--FAU_Col_FAU-Blau, #04316A);
            font-size: var(--H-Heading-5, 1.15rem);
            margin-top: 0;
            padding-top: 0;
        }
        dl.facts {

            margin: 0;
            line-height: 1.8;
            @media screen and (min-width: 768px) {
                column-count: 2;
                column-gap: 16px;
            }
            .dpair {
                break-inside: avoid; /* verhindert Spaltenumbruch innerhalb dieses Blocks */
                page-break-inside: avoid; /* für Print */
                display: flow-root;
            }
            dt {
                margin: 0;
                float: left;
                clear: left;
                font-weight: bold;
            }

            dd {
                float: left;
                margin-left: 1rem;
            }
        }
        dl.special-features {
            margin: 16px 0 0;
            dt {
                margin: 0;
                font-weight: bold;
            }
            dd {
                margin-left: 0;
                p:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    // Full
    &.degree-program-full {
        margin-bottom: 32px;

        .width-small {
            max-width: 870px;
            //padding: 0 32px;
            margin: 32px auto 0;
        }
        .width-medium {
            max-width: 1000px;
            //padding: 0 32px;
            margin: 32px auto 0;
        }

        .width-large {
            //padding: 0 32px;
            margin: 32px auto 0;
            @media screen and (min-width: 992px) {
                padding: 0;
            }
        }

        h2 {
            color: var(--FAU-Col-FAU-Dunkelblau-100, #041E42);
            font-size: var(--P-Body-Text, 1.125rem);
            margin-top: 3em;
            margin-bottom: 2em;
            @media screen and (min-width: 992px) {
                position: relative;
                display: flex;
                align-items: center;
                &:before {
                    content: "";
                    width: calc((100% - 1064px) / 2 - 10px);
                    height: 2px;
                    background-color: #000;
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }
        h3:not(.fau-big-teaser__headline) {
            padding: 0;
            margin-bottom: 1em;
        }

        .program-content {
            position: relative;
            top: -64px;
            margin: 0 auto -64px;
            //padding: 32px;
        }

        img.attachment-fau-featured,
        img.wp-post-image {
            aspect-ratio: 2.35/1;
            object-fit: cover;
            width: 100%;
        }

        .program-header {
            max-width: calc(870px + 64px);
            margin: 0 16px -32px;
            padding: 16px;
            background-color: #fff;
            color: var(--FAU_Col_FAU-Blau, #04316A);
            @media screen and (min-width: 768px) {
                padding: 32px;
            }
            @media screen and (min-width: 992px) {
                margin-left: auto;
                margin-right: auto;
            }
            h1, p.program-subtitle {
                color: var(--FAU_Col_FAU-Blau, #04316A);
                margin: 0;
                padding: 0;
            }
        }

        .program-subtitle {
            padding-top: 0;
            padding-bottom: 32px;
            font-size: 1.2em;
        }

        .entry-text {
            font-weight: bold;
            p:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
            @media screen and (min-width: 768px) {
                //margin-left: 16px;
                //margin-right: 16px;
            }
            @media screen and (min-width: 992px) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .fact-sheet {
            padding: 40px 16px 16px;
            margin-top: 56px;
            @media screen and (min-width: 768px) {
                //padding: 40px 32px 32px;
            }
        }

        .program-details {
            //margin-top: 32px;
            .accordion-heading .accordion-toggle {
                color: var(--FAU_Col_FAU-Blau, #04316A) !important;
                font-size: var(--H-Heading-4, 1.25rem);
            }
        }

        .program-videos {
            //margin-top: 32px;
            background-color: var(--FAU_Col_FAU-Blau, #04316A);
            padding-top: 32px;
            h2 {
                color: #fff;
                margin-top: 0;
                &:before {
                    background-color: #fff;
                }
            }
            .elements-columns {
                margin: 0 16px;
            }
        }
        .program-admission {
            margin-top: 0;
            h4 {
                color: var(--FAU_Col_FAU-Blau, #04316A);
                padding: 0;
                margin-bottom: 1em;
            }
            .program-admission-general,
            .program-admission-internationals {
                background-color: var(--FAU-Col-FAU-Dunkelblau-12_5, #DFE2E7);
                padding: 16px;
                h3 {
                    color: var(--FAU_Col_FAU-Blau, #04316A);
                    //font-size: var(--H-Heading-5, 1.15rem);
                    margin-top: 0;
                    padding-top: 0;
                }
            }
            .program-admission-internationals {
                background-color: var(--FAU-Col-FAU-Blau-25, #c0cbda);
                margin-top: 64px;
                padding-top: 40px;
                position: relative;
                .icon-globe {
                    width: 48px;
                    height: 48px;
                    display: block;
                    position: absolute;
                    top: -24px;
                    left: 16px;
                    background-color: var(--FAU_Col_FAU-Blau, #04316A);
                    &:after {
                        content: "";
                        -webkit-mask-size: var(--icon-size-mask, 70%);
                        mask-size: var(--icon-size-mask, 70%);
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                        -webkit-mask-position: center;
                        mask-position: center;
                        display: inline-block;
                        width: 32px;
                        height: 32px;
                        position: relative;
                        top: 9px;
                        left: 8px;
                        mask-image: url(../svg/globe.svg);
                        -webkit-mask-image: url(../svg/globe.svg);
                        background-color: #fff;
                    }
                }
                img {
                    aspect-ratio: 3;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .program-apply-now {
            background-color: var(--FAU_Col_FAU-Blau, #04316A);
            padding: 0;
            position: relative;
            margin-top: 64px;
            @media screen and (min-width: 768px) {
                display: flex;
                flex-direction: row;
            }
            * {
                color: #fff;
            }
            img {
                aspect-ratio: 4/3;
                object-fit: cover;
                @media screen and (min-width: 768px) {
                    order: 2;
                    aspect-ratio: 3/4;
                    width: 20%;
                    min-width: 200px;
                }
                @media screen and (min-width: 1200px) {
                    aspect-ratio: 1;
                }
            }
            .apply-now-wrapper {
                background-color: var(--FAU_Col_FAU-Blau, #04316A);
                margin: 0 16px;
                padding: 16px;
                position: relative;
                top: -32px;
                @media screen and (min-width: 768px) {
                    order: 1;
                    position: static;
                    margin-right: -24px;
                    z-index: 1;
                    margin-top: 16px;
                    margin-bottom: 16px;
                    flex: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            .apply-now-title {
                display: block;
                font-weight: bold;
                font-size: var(--H-Heading-2, 2rem);
            }
            .apply-now-text {
                display: block;
            }
            .apply-now-link {
                display: inline-block;
                height: 48px;
                background-color: var(--FAU-Col-FAU-Dunkelblau-100, #041e42);
                color: #fff;
                padding: 0 64px 0 16px;
                text-decoration: none;
                line-height: 48px;
                font-size: var(--P-Body-Text-XSmall, .9rem);
                margin-top: 32px;
                position: relative;
                .icon-arrow-right {
                    width: 48px;
                    height: 48px;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #fff;
                    &:after {
                        content: "";
                        -webkit-mask-size: var(--icon-size-mask, 70%);
                        mask-size: var(--icon-size-mask, 70%);
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                        -webkit-mask-position: center;
                        mask-position: center;
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        position: relative;
                        top: 9px;
                        left: 8px;
                        mask-image: url(../svg/arrow-right.svg);
                        -webkit-mask-image: url(../svg/arrow-right.svg);
                        background-color: var(--FAU_Col_FAU-Blau, #04316A);
                    }
                }
                @media screen and (min-width: 768px) {
                    align-self: flex-start;
                }
            }

        }

        .student-advice-more {
            background-color: var(--FAU_Col_FAU-Blau, #04316A);
            margin-top: 48px;
            padding-top: 32px;
            color: #fff;
            * {
                color: #fff;
            }
            h2 {
                color: #fff;
                margin-top: 0;
                &:before {
                    background-color: #fff;
                }
            }
            h3 {
                color: #fff;
                font-size: var(--H-Heading-2, 2rem);
            }

            .student-advice {
                padding: 0 16px;
                margin-bottom: 32px;
                @media screen and (min-width: 1200px) {
                    padding: 0 32px;
                }

                .advice-wrapper {
                    position: relative;
                    container-type: inline-size;
                    margin-bottom: -48px;
                    @media screen and (min-width: 1200px) {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 32px;
                    }
                }

                img {
                    aspect-ratio: 1.5;
                    object-fit: cover;
                    @media screen and (min-width: 1200px) {
                        max-width: 50cqi;
                    }
                }

                .link-title {
                    display: block;
                    font-weight: bold;
                    font-size: var(--P-Body-Text, 1.125rem);
                }

                .link-description {
                    font-size: var(--P-Body-Text-XSmall, .9rem);
                }

                a {
                    display: block;
                    padding: 16px 56px 16px 16px;
                    margin: 0 16px;
                    position: relative;
                    top: -48px;
                    background-color: var(--FAU_Col_FAU-Blau, #04316A);
                    text-decoration: none;
                    @media screen and (min-width: 1200px) {
                        position: static;
                        margin: 0 0 0 -48px;
                    }

                    &:active, &:hover, &:focus {
                        background-color: var(--color-button-hover-bg, #041e42);
                        border-color: var(--color-button-hover-bg, #041e42);
                        color: var(--color-button-hover-text, #fff) !important;
                    }

                    .icon-arrow-right {
                        width: 40px;
                        height: 40px;
                        display: block;
                        position: absolute;
                        top: calc(50% - 20px);
                        right: 0;
                        background-color: #fff;

                        &:after {
                            content: "";
                            -webkit-mask-size: var(--icon-size-mask, 70%);
                            mask-size: var(--icon-size-mask, 70%);
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                            -webkit-mask-position: center;
                            mask-position: center;
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            position: relative;
                            top: 9px;
                            left: 8px;
                            mask-image: url(../svg/arrow-right.svg);
                            -webkit-mask-image: url(../svg/arrow-right.svg);
                            background-color: var(--FAU_Col_FAU-Blau, #04316A);
                        }
                    }
                }

                .alert {
                    margin-bottom: 0;
                }
            }

            .useful-links {
                display: grid;
                grid-column-gap: 16px;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                margin-top: 0;
                background-color: var(--FAU_Col_FAU-Blau, #04316A);
                padding: 0 16px 16px;
                @media screen and (min-width: 768px) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @media screen and (min-width: 1200px) {
                    padding: 0 32px 32px;
                }
                @media screen and (min-width: 1440px) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 32px;
                }

                * {
                    color: #fff;
                    letter-spacing: .02em;
                }

                h3 {
                    grid-column-start: 1;
                    grid-column-end: end;
                    font-size: var(--H-Heading-2, 2rem);
                }

                h4 {
                    font-size: var(--H-Heading-4, 1.25rem);
                }

                ul {
                    margin: 0;
                    padding: 0;
                }

                li {
                    list-style-type: none;
                }

                a {
                    text-decoration: none;
                    font-size: var(--P-Body-Text-XSmall, .9rem);

                    &:after {
                        content: "";
                        -webkit-mask-size: var(--icon-size-mask, 70%);
                        mask-size: var(--icon-size-mask, 70%);
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                        -webkit-mask-position: center;
                        mask-position: center;
                        display: inline-block;
                        width: 1.2em;
                        height: 1.2em;
                        //position: relative;
                        //top: 9px;
                        //left: 8px;
                        mask-image: url(../svg/arrow-right.svg);
                        -webkit-mask-image: url(../svg/arrow-right.svg);
                        background-color: #fff;
                        vertical-align: text-bottom;
                        margin-left: 0.5em;
                    }
                }
            }
        }
        .fau-big-teaser {
            padding-top: 0;
        }
        .features-fau {
            .icon-circle-check {
                width: 60px;
                height: 60px;
                display: block;
                //position: absolute;
                //top: -24px;
                //left: 16px;
                background-color: #fff;
                margin-bottom: .5em;
                &:after {
                    content: "";
                    //-webkit-mask-size: var(--icon-size-mask, 70%);
                    //mask-size: var(--icon-size-mask, 70%);
                    -webkit-mask-size: 100%;
                    mask-size: 100%;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    //position: relative;
                    //top: 9px;
                    //left: 8px;
                    mask-image: url(../svg/circle-check.svg);
                    -webkit-mask-image: url(../svg/circle-check.svg);
                    background-color: var(--FAU_Col_FAU-Blau, #04316A);
                }
            }
            .column p {
                font-weight: bold;
            }
        }
    }

    // Grid
    ul.degree-program-grid {
        display: grid;
        margin: 0 0 32px;
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        @media screen and (min-width: 768px) {
            //grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 1440px) {
            //grid-template-columns: repeat(3, 1fr);
            grid-gap: 48px;
        }
        * {
            color: #fff;
            font-size: var(--P-Body-Text, 1.125rem);
            hyphens: auto;
        }
        li {
            display: block;
            list-style-type: none;
            background: var(--FAU_Col_FAU-Blau, #04316A);
            color: #fff;
            padding: 0;
            a {
                color: #fff;
                text-decoration: none;
            }
            .teaser-image {
                img {
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    width: 100%;
                }
            }
            .program-content {
                background: var(--FAU_Col_FAU-Blau, #04316A);
                padding: 16px;
            }
            .teaser-image+.program-content {
                position: relative;
                top: -24px;
                margin-left: 16px;
                margin-right: 16px;
                margin-bottom: -16px;
            }
            .label {
                font-weight: bold;
                font-size: var(--P-Body-Text-Small, 1rem);
                letter-spacing: 0.01em;
            }
            .program-title {
                font-weight: bold;
                font-size: var(--H-Heading-5, 1.15rem);
                letter-spacing: 0.02em;
            }
            .program-subtitle {
                font-size: var(--P-Body-Text-Small, 1rem);
            }
        }
    }

    // Table
    table.degree-program-table {
        tr {
            border-left: none;
            border-right: none;
            border-bottom: 1px solid var(--FAU_Col_Base-Schwarz_25, #BFBFBF);
            display: block;
            padding: 8px 0;
            &:nth-child(odd) td {
                background-color: #fff;
            }
            @media screen and (min-width: 992px) {
                display: table-row;
                padding: 0;
            }
        }
        th {
            display: none;
            @media screen and (min-width: 992px) {
                display: table-cell;
                background-color: var(--FAU_Col_FAU-Blau, #04316A);
                color: #fff;
                font-size: unset;
                letter-spacing: 0.02em;
                padding: 6px 8px;
            }
        }
        td {
            padding: 0;
            border-right: none;
            font-size: unset;
            display: block;
            @media screen and (min-width: 992px) {
                display: table-cell;
                padding: 8px;
            }
            &.image-title {
                padding-left: 0;
                font-weight: bold;
                @media screen and (min-width: 992px) {
                    display: grid;
                    grid-template-columns: 80px 1fr;
                    grid-column-gap: 16px;
                    font-weight: normal;
                }
                img {
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    width: 80px;
                    box-shadow: none;
                    float: left;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    @media screen and (min-width: 768px) {
                        width: 160px;
                    }
                    @media screen and (min-width: 992px) {
                        margin-bottom: 0;
                    }
                }
                .program-title {
                    display: block;
                    align-self: center;
                    color: var(--FAU_Col_FAU-Blau, #04316A);
                    font-size: var(--P-Body-Text, 1.125rem);
                    margin-bottom: 8px;
                    @media screen and (min-width: 992px) {
                        font-size: unset;
                        margin-bottom: 0;
                    }
                }
            }
            &.program-degree {
                clear: left;
                @media screen and (min-width: 768px) {
                    clear:  none;
                }
            }
            &.program-adm-req {
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                @media screen and (min-width: 992px) {
                    padding-right: 0;
                }
            }
        }
        .label {
            font-weight: bold;
            @media screen and (min-width: 992px) {
                display: none;
            }
        }
    }

    // Search form
    .program-search {
        //background-color: lighten(#e9edf2, 3%);
        //border: 1px solid #dde5f0;
        border: 1px solid var(--color-ContentBorders,#dfe6ec);
        width: 100%;
        padding: var(--width-gutter, 30px);
        margin-top: 0;
        @media (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            gap: var(--width-gutter-half, 15px);
        }
        .label {
            display: block;
            font-weight: bold;
        }
        .search-title,
        .filter-degrees {
            @media (min-width:768px) {
                //width: 50%;
                //float: left;
                //padding-right: var(--width-gutter-half, 15px);
            }
        }
        .search-title {
            flex-basis: 100%;
            flex-shrink: 0;
            display: flex;
            flex-wrap: wrap;
            column-gap: var(--width-gutter-half, 15px);
            label.label {
                width: 100%;
            }
            #fau_studium_search {
                flex: 1;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 0;
            }
        }
        input[type=submit] {
            margin-bottom: 0;
            margin-right: 0;
        }
        .search-title,
        div[class^='filter-'] {
            margin-bottom: var(--width-gutter-half, 15px);
        }
        div[class^='filter-'] {
            flex-basis: 30%;
            flex-shrink: 0;
            flex-grow: 1;
            position: relative;
            button.checklist-toggle {
                width: 100%;
                background: #0000;
                border: 1px solid var(--color-ContentBorders);
                border-radius: var(--border-radius-buttons,3px);
                color: var(--color-Text, #222222);
                margin-bottom: 0;
                .dashicons {
                    vertical-align: text-bottom;
                }
                &:hover, &:focus, &:active {
                    background: var(--color-ghostbutton-hover-bg, #04316a);
                    color: var(--color-ghostbutton-hover-text, #ffffff);
                    .dashicons {
                        color: inherit;
                    }
                }
            }
            .filter-count {
                display: inline-block;
                margin-left: .5em;
                background-color: var(--color-button-bg, #004a9f);
                color: var(--color-button-text, #fff);
                width: 1.5em;
                height: 1.5em;
                line-height: 1.55;
                border-radius: 50%;
                font-size: .7em;
                position: relative;
                top: -.1em;
            }
            .checklist {
                border: 1px solid var(--color-ContentBorders,#dfe6ec);
                border-top-width: 0;
                padding: 0 5px;
                overflow-x: hidden;
                overflow-y: scroll;
                background: #fff;
                @media (min-width:768px) {
                    max-height: 400px;
                }
                .js-enabled & {
                    display: none;
                    @media (min-width:768px) {
                        position: absolute;
                        z-index: 1;
                        width: 100%;
                        //box-shadow: 0 3px 12px 0 #ebebeb;
                        box-shadow: 0 4px 7px #00000073
                    }
                }
            }
            label {
                //display: inline-block;
                //margin-right: 1em;
            }
        }
        .filter-subject-groups {
            clear: left;
        }
        .extended-search-toggle {
            .filter-count {
                display: inline-block;
                margin-left: .5em;
                color: var(--color-button-bg, #004a9f);
                background-color: var(--color-button-text, #fff);
                width: 1.5em;
                height: 1.5em;
                line-height: 1.55;
                border-radius: 50%;
                font-size: .7em;
                position: relative;
                top: -.1em;
            }
            .dashicons {
                vertical-align: text-bottom;
            }
        }
        .extended-search {
            width: 100%;
            .js-enabled & {
                display: none;
            }
            .flex-wrapper {
                width: 100%;
                @media (min-width:768px) {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--width-gutter-half, 15px);
                }
            }
        }
        .settings-area {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .reset-link {
                align-self: center;
                a {
                    text-decoration-thickness: .1rem;

                    &:hover, &:focus, &:active {
                        text-decoration-thickness: 0.2rem;
                    }
                }
            }
            a > svg.rrze-elements-icon {
                border-radius: 0 !important;
            }
        }
    }
}