.fau-studium-display {

    // Full
    &.degree-program-full {
        h1, p.degree-subtitle {
            background-color: var(--FAU_Col_FAU-Blau, #04316A);
            color: #fff;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            top: -32px;
            margin: 0 32px -32px;
        }
        h1 {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .degree-subtitle {
            padding-top: 0;
            padding-bottom: 32px;
            font-size: 1.2em;
        }
        .description {
            margin-top: 32px;
        }
    }

    // Box
    &.degree-program-box {
        background-color: var(--FAU_Col_FAU-Dunkelblau_12_5, #DFE2E7);
        padding: 40px 16px 24px;
        width: 100%;
        max-width: 870px;
        margin: 48px auto 0;
        display: flow-root;
        position: relative;

        .thumbtack {
            width: 48px;
            height: 48px;
            display: block;
            position: absolute;
            top: -24px;
            left: 16px;
            background-color: var(--FAU_Col_FAU-Blau, #04316A);
            &:after {
                content: "";
                -webkit-mask-size: var(--icon-size-mask, 70%);
                mask-size: var(--icon-size-mask, 70%);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center;
                mask-position: center;
                display: inline-block;
                width: 20px;
                height: 20px;
                position: relative;
                top: 14px;
                left: 14px;
                mask-image: url(../svg/thumbtack.svg);
                -webkit-mask-image: url(../svg/thumbtack.svg);
                background-color: #fff;
            }
        }

        h1 {
            color: var(--FAU_Col_FAU-Blau, #04316A);
            font-size: var(--H-Heading-5, 1.15rem);
            margin-top: 0;
            padding-top: 0;
        }
        dl.facts {

            margin: 0;
            line-height: 1.8;
            @media screen and (min-width: 768px) {
                column-count: 2;
                column-gap: 16px;
            }
            .dpair {
                break-inside: avoid; /* verhindert Spaltenumbruch innerhalb dieses Blocks */
                page-break-inside: avoid; /* für Print */
                display: flow-root;
            }
            dt {
                margin: 0;
                float: left;
                clear: left;
                font-weight: bold;
            }

            dd {
                float: left;
                margin-left: 1rem;
            }
        }
        dl.special-features {
            margin: 16px 0 0;
            dt {
                margin: 0;
                font-weight: bold;
            }
            dd {
                margin-left: 0;
                p:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    // Grid
    ul.degree-program-grid {
        display: grid;
        margin: 0;
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        @media screen and (min-width: 768px) {
            //grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 1440px) {
            //grid-template-columns: repeat(3, 1fr);
            grid-gap: 48px;
        }
        li {
            display: block;
            list-style-type: none;
            background: var(--FAU_Col_FAU-Blau, #04316A);
            color: #fff;
            padding: 0;
            a {
                color: #fff;
                text-decoration: none;
            }
            .teaser-image {
                img {
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    width: 100%;
                }
            }
            .program-title {
                background: var(--FAU_Col_FAU-Blau, #04316A);
                margin-left: 16px;
                margin-right: 16px;
                margin-bottom: -16px;
                padding: 16px;
                font-weight: bold;
                position: relative;
                top: -24px;
            }
        }
    }
}