.settings_page_fau-studium-display {

    .button-disabled {
        pointer-events: none;
    }

    #degree-search-button {
        margin-top: 1em;
    }

    span.dashicons.search-spinner {
        font-size: 2em;
        width: 1em;
        height: 1em;
        overflow: hidden;
        color: inherit;
        margin-left: .25em;
    }

    #degree-programs-imported,
    #degree-program-results {
        .program-item {
            background: #fff;
            border-bottom: 1px solid #e9e9e9;
            padding: 1em 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background-color: #F9F9F9;
            }
            .program-title {
                font-weight: bold;
                flex: 70% 0 1;
            }
            .program-buttons {
                flex: 30% 0 1;
            }
            .update-degree-program,
            .add-degree-program,
            .delete-degree-program {
                span.dashicons {
                    vertical-align: middle;
                }
            }
            .delete-degree-program {
                //color: #dc3232;
                margin-left: 1em;
            }
            span.dashicons.sync-ok {
                width: 1em;
                color: #46B450;
                font-size: 2em;
                overflow: hidden;
            }
        }
    }
    #degree-program-results {
        margin-top: 20px;
        .program-item:first-child {
            border-top: 1px solid #e9e9e9;
        }
    }

    .dashicons.spin {
        animation: dashicons-spin 1s infinite linear;
    }

    @keyframes dashicons-spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    form {
        &#fau-studium-display_api,
        &#fau-studium-display_layout {
            input[name="submit-cmb"] {
                margin-top: 20px;
                margin-left: 20px;
            }
        }
        &#fau-studium-display_sync {
            input[name="submit-cmb"] {
                display: none;
            }
        }
    }

}